 body{
    background:white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.square{
    background: purple;
    padding-bottom: 30%;
    width: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 1.0s;
    -webkit-transition: background 1.0s ;
    -moz-transition: background 1.0s ;
}
#container{
    margin: 20px auto;
    max-width: 600px;

}
h1{
    color: white;
    background: steelblue;
    text-align: center;
    margin: 0px;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: normal;
    
}

#stripe{
    background-color:  #cce5ff;
    height: 30px;
    text-align: center;
    color: black;
}
.selected{
    color: white;
    background: steelblue;
}
#colorDisplay{
    font-size: 200%;
}
#message{
    display: inline-block;
    width: 30%;
}
button{
    border: none;
    background: none;
    color: steelblue;
    font-weight: 700px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 100%;
    font-size: inherit;
    font-weight: bolder;
    transition: all 0.5s;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    outline: none;
}
button:hover{
    color: white;
    background: steelblue;
} 

.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}  